html {
    background-color: lightslategrey;
	font-family: sans-serif;
}
body {
    margin: auto;
    width: 500px;
    padding-bottom: 0.1px; /*knep för div margin */
	background-color: azure;
	}
h1 {
	Color: purple;
	text-align: center;
	}
div {
	border: 1px solid purple;
	border-radius: 5px;
}
#billy {
	color: darkred;
}
#bob {
	color: darkgreen;
}
.two {
	font-size: larger;
}
.three {
	font-size: smaller;
}
.three+p {
	font-weight: bolder;
}
#bob > .two + p + p {
	text-align: justify;
}
#bob a {
	text-decoration: line-through;
}
#bob > .two a  {
	text-decoration: underline overline;
	-moz-text-decoration-color: orange;
	-moz-text-decoration-style: double;
}



	