html {
	background-color: lime;
}
body {
	background-color: yellow;	/*provisorisk färg*/
	margin: auto;
	width: 600px;
	height: 600px;
	}
p {
	font-family: san-serif;
	}
.learn {
	font-size: large;
	color: blue;
}
.easy {
	font-size: small;
	color: darkred;
}
.hard {
	font-size: xx-large;
	color: green;
}
.understand {
	font-size: small;
	color: blue;
}

