body {
	background-color: yellow;	/*provisorisk färg*/
	}
p {
	font-family: san-serif;
	}
.learn {
	font-size: large;
	color: blue;
}
.easy {
	font-size: small;
	color: darkred;
}
.hard {
	font-size: xx-large;
	color: green;
}
.understand {
	font-size: small;
	color: blue;
}

